@model IEnumerable<HouseholdBudget.Models.Account>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <br />
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Get Started</div>
        <div class="panel-body">
            This is a web based budgeting app for households. It can be used to track actual income, and expenses while making projections.
            To get started click on the link below to create a household <b>@Html.ActionLink("Create a New Household", "Create", "Households")</b>
            or invite someone to join your household <b>@Html.ActionLink("Invite Someone to Join Your Household", "Create", "Invitations")</b>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Dashboard</div>
        <div class="panel-body">
            dashboard content
        </div>
    </div>

</div>
