@model HouseholdBudget.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <!--Begin household area-->
    <h1>Household</h1>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Household Name</th>
                    <th>Members</th>
                </tr>
            </thead>
        </table>
    </div>
    <!--End household area-->


    <!--Begin Accounts area-->
    <h1>Accounts</h1>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Description</th>
                    <th>Account Balance</th>
                </tr>
            </thead>
        </table>
    </div>

    <!--End Accounts area-->


    <!--Begin Transactions area-->

    <h1>Transactions</h1>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Reconciled Amount</th>
                </tr>
            </thead>

        </table>
    </div>
    <!--End Transaction area-->

}
